-- 1. erp_users
CREATE TABLE IF NOT EXISTS public.erp_users (
    id TEXT PRIMARY KEY,
    data JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 2. erp_clients
CREATE TABLE IF NOT EXISTS public.erp_clients (
    id TEXT PRIMARY KEY,
    data JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 3. erp_orders
CREATE TABLE IF NOT EXISTS public.erp_orders (
    id TEXT PRIMARY KEY,
    data JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 4. erp_sales
CREATE TABLE IF NOT EXISTS public.erp_sales (
    id TEXT PRIMARY KEY,
    data JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 5. erp_inventory
CREATE TABLE IF NOT EXISTS public.erp_inventory (
    id TEXT PRIMARY KEY,
    data JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 6. erp_config
CREATE TABLE IF NOT EXISTS public.erp_config (
    id TEXT PRIMARY KEY,
    data JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 7. erp_activities
CREATE TABLE IF NOT EXISTS public.erp_activities (
    id TEXT PRIMARY KEY,
    data JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- 8. erp_accounts
CREATE TABLE IF NOT EXISTS public.erp_accounts (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    type TEXT NOT NULL,
    date DATE NOT NULL,
    category TEXT,
    amount NUMERIC,
    payment_mode TEXT,
    reference TEXT,
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Set up Realtime for tables (needed for live updates)
ALTER PUBLICATION supabase_realtime ADD TABLE erp_users;
ALTER PUBLICATION supabase_realtime ADD TABLE erp_clients;
ALTER PUBLICATION supabase_realtime ADD TABLE erp_orders;
ALTER PUBLICATION supabase_realtime ADD TABLE erp_sales;
ALTER PUBLICATION supabase_realtime ADD TABLE erp_inventory;
ALTER PUBLICATION supabase_realtime ADD TABLE erp_config;
ALTER PUBLICATION supabase_realtime ADD TABLE erp_activities;
ALTER PUBLICATION supabase_realtime ADD TABLE erp_accounts;
